<form #nameForm="ngForm">
  <div class="flex flex-column gap-2">
    <label for="name" class="font-semibold w-6rem">Name</label>
    <input pInputText [(ngModel)]="workflow.name" id="name" name="name" #name="ngModel" class="flex-auto" autocomplete="off"
           required
           pattern = [a-zA-Z0-9][-a-zA-Z0-9]*
           minlength="1"
           maxlength="70"/>
    <span class="p-text-secondary block mb-5">Enter the workflow name.</span>
    <p-messages severity="error" *ngIf="name.errors && (name.dirty || name.touched)">
      <ng-template pTemplate>
        <div [hidden]="!name.errors.required">
          Name is required
        </div>
        <div [hidden]="!name.errors.minlength">
          Name must be at least 1 characters long
        </div>
        <div [hidden]="!name.errors.maxlength">
          Name cannot be more than 70 characters long
        </div>
        <div [hidden]="!name.errors.pattern">
          Name must consist of alpha-numeric characters or '-', and must start with an alpha-numeric character
        </div>
      </ng-template>
    </p-messages>
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" severity="secondary" (onClick)="cancel()" />
    <p-button label="Save" (onClick)="save()" [disabled]="!nameForm.form.valid" type="submit"/>
  </div>
</form>
<p-toast position="top-center"/>
