<h1 class="wipp-title">
  {{tensorflowModel.name}}
  <div style="display: inline-block;">
    <p-button icon="pi pi-download"
              (click)="openDownload(tensorflowModel._links.download.href)"
              pTooltip="Download as zip"
              tooltipPosition="left"
              [outlined]="true">
    </p-button>
    <p-button icon="pi pi-globe" *ngIf="!tensorflowModel.publiclyShared && canEdit()" type="button"
              pTooltip="Make collection public"
              tooltipPosition="left"
              [outlined]="true"
              (click)="makePublicTensorflowModel();">
    </p-button>
  </div>
</h1>

<p-fieldset legend="Details" [toggleable]="true">
  <div class="grid nested-grid">
    <div class="col-12 md:col-6">
      <div class="grid">
        <div class="col-3 py-1 font-semibold">
          Name:
        </div>
        <div class="col-9 py-1">
          {{tensorflowModel.name}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Creation date:
        </div>
        <div class="col-9 py-1">
          {{tensorflowModel.creationDate | date}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Owner:
        </div>
        <div class="col-9 py-1">
          {{tensorflowModel.owner}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Source:
        </div>
        <div class="col-9 py-1">
          <a *ngIf="job; else not_applicable" (click)="displayJobModal(job.id)"
             class="wipp-link"
             pTooltip="Show Job"
             placement="left">
            {{job.name}}
          </a>
        </div>
        <div class="col-3 py-1 font-semibold">
          Tensorboard Logs:
        </div>
        <div class="col-9 py-1">
          <a *ngIf="tensorboardLogs; else not_applicable"
             href={{tensorboardLink}}
             target="_blank">{{tensorboardLogs.name}}
          </a>
        </div>
        <div class="col-3 py-1 font-semibold">
          Visibility:
        </div>
        <div class="col-9 py-1">
          <div *ngIf="tensorflowModel.publiclyShared; else privateData">Public</div>
          <ng-template #privateData>Private</ng-template>
        </div>
      </div>
    </div>
  </div>
</p-fieldset>

<ng-template #not_applicable>N/A</ng-template>
