<form>
  <div class="flex flex-column gap-2">
    <label for="name" class="font-semibold">Name</label>
    <input pInputText [(ngModel)]="imagesCollection.name" id="name" name="name" class="flex-auto" autocomplete="off" />
    <span class="p-text-secondary block mb-5">Enter the collection name.</span>

    <label class="font-semibold">Import method</label>
    <div class="formgroup-inline">
      <div class="field-checkbox">
        <p-radioButton
          [(ngModel)]="imagesCollection.importMethod"
          [value]="ImagesCollectionImportMethod.UPLOADED"
          inputId="uploaded"
          name="uploaded"
        />
        <label for="uploaded" class="ml-2">
          Browser upload <span pTooltip="Upload images via web browser" tooltipPosition="right">
            <i class="pi pi-question-circle"></i></span>
        </label>
      </div>
      <div class="field-checkbox">
        <p-radioButton
          [(ngModel)]="imagesCollection.importMethod"
          [value]="ImagesCollectionImportMethod.BACKEND_IMPORT"
          inputId="backendImport"
          name="backendImport"
        />
        <label for="backendImport" class="ml-2">
          Backend import <span pTooltip="Import images from a folder local to the server" tooltipPosition="right">
            <i class="pi pi-question-circle"></i></span>
        </label>
      </div>
    </div>
    <div>
      <input *ngIf="imagesCollection.importMethod==ImagesCollectionImportMethod.BACKEND_IMPORT"
             pInputText [(ngModel)]="imagesCollection.sourceBackendImport"
             id="sourceBackendimport" name="sourceBackendimport" placeholder="Enter the name of the folder to import"
             class="w-full" autocomplete="off" />

      <div class="field-checkbox w-full" *ngIf="imagesCollection.importMethod==ImagesCollectionImportMethod.UPLOADED">
        <p-checkbox
          label="Filter images upon upload using a filename pattern"
          value="usePattern"
          name="usePattern"
          inputId="usePattern"
          [binary]="true"
          [(ngModel)]="usePattern" />
        <span class="text-danger" *ngIf="!usePattern && imagesCollection.pattern">
          Warning: pattern is not empty, but this option is not checked
        </span>
      </div>
      <div *ngIf="usePattern" class="formgrid grid">
        <div class="field col">
          <input pInputText [(ngModel)]="imagesCollection.pattern" id="pattern" name="pattern" autocomplete="off" class="w-full" />
          <span class="p-text-secondary block mb-5">Enter the filename pattern.</span>
        </div>
        <div class="field col">
          <p-button (onClick)="op.toggle($event)" label="Regex cheatsheet" severity="secondary" />
        </div>

        <p-overlayPanel [showCloseIcon]="true" aria-label="Regex cheatsheet panel" #op>
          <div class="card">
            <ng-container *ngTemplateOutlet="popContent">
            </ng-container>
          </div>
        </p-overlayPanel>
      </div>

    </div>
  </div>
  <div class="flex justify-content-end gap-2 mt-4">
    <p-button label="Cancel" severity="secondary" (onClick)="cancel()" />
    <p-button label="Save" (onClick)="save()" [disabled]="!imagesCollection.name" type="submit"/>
  </div>
</form>
<p-toast position="top-center"/>

<ng-template #popContent>
  <div class="p-datatable-gridlines p-datatable">
    <table class="p-datatable-table">
      <tbody class="p-datatable-tbody">
        <tr>
          <th colspan="2">Character classes</th>
        </tr>
        <tr>
          <td>.</td>
          <td>any character except newline</td>
        </tr>
        <tr>
          <td>\w \d \s</td>
          <td>word, digit, whitespace</td>
        </tr>
        <tr>
          <td>\W \D \S</td>
          <td>not word, digit, whitespace</td>
        </tr>
        <tr>
          <td>[abc]</td>
          <td>any of a, b, or c</td>
        </tr>
        <tr>
          <td>[^abc]</td>
          <td>not a, b, or c</td>
        </tr>
        <tr>
          <td>[a-g]</td>
          <td>character between a & g</td>
        </tr>

        <tr>
          <th colspan="2">Quantifiers and Alternation</th>
        </tr>
        <tr>
          <td>a* a+ a?</td>
          <td>0 or more 'a', 1 or more 'a', 0 or 1 'a'</td>
        </tr>
        <tr>
          <td>a{{ '{' }}5{{ '}' }} a{{ '{' }}2,{{ '}' }}</td>
          <td>exactly five, two or more</td>
        </tr>
        <tr>
          <td>a{{ '{' }}1,3{{ '}' }}</td>
          <td>between one & three</td>
        </tr>
        <tr>
          <td>a+? a{{ '{' }}2,{{ '}' }}?</td>
          <td>match as few as possible</td>
        </tr>
        <tr>
          <td>ab|cd</td>
          <td>match ab or cd</td>
        </tr>

        <tr>
          <th colspan="2">Escaped characters</th>
        </tr>
        <tr>
          <td>\. \* \\</td>
          <td>escaped special characters</td>
        </tr>

        <tr>
          <th colspan="2">Anchors</th>
        </tr>
        <tr>
          <td>^abc$</td>
          <td>start / end of the string</td>
        </tr>
      </tbody>
    </table>

    <a target="blank" href="http://en.wikipedia.org/wiki/Regular_expression">Wikipedia page about regular expressions</a>
  </div>
</ng-template>
