<h1>{{notebook.name}}</h1>
<div class="grid">
  <p-fieldset legend="Details" [toggleable]="true" class="col-12 md:col-3">
        <div class="grid">
          <div class="col-12 lg:col-4 py-1 font-semibold">
            Name:
          </div>
          <div class="col-12 lg:col-8 py-1">
            {{notebook.name}}
          </div>
          <div class="col-12 lg:col-4 py-1 font-semibold">
            Creation date:
          </div>
          <div class="col-12 lg:col-8 py-1">
            {{notebook.creationDate | date}}
          </div>
          <div class="col-12 lg:col-4 py-1 font-semibold">
            Owner:
          </div>
          <div class="col-12 lg:col-8 py-1">
            {{notebook.owner}}
          </div>
          <div class="col-12 lg:col-4 py-1 font-semibold">
            Visibility:
          </div>
          <div class="col-12 lg:col-8 py-1">
            <div *ngIf="notebook.publiclyShared; else privateData">Public</div>
            <ng-template #privateData>Private</ng-template>
          </div>
          <div class="col-12 lg:col-4 py-1 font-semibold">
            Description:
          </div>
          <div class="col-12 lg:col-8 py-1">
            {{notebook.description}}
          </div>
        </div>
  </p-fieldset>
  <div class="col-12 md:col-9 notebook" #notebookDisplay>
    <p-skeleton  *ngIf="loading"/>
  </div>
</div>
<p-toast position="top-center"/>
