<header>
  <div id="logo" *ngIf="router.url === '/home'">
    <img src="assets/img/logo-wipp.png">
  </div>

  <p-menubar [model]="items">
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2 p-menuitem">
        <div class="p-menuitem-content">
          <a pRipple class="flex align-items-center p-menuitem-link" href="{{onlineHelpLink}}">
            <span class="pi pi-question"></span>
            <span class="ml-2">Help</span>
          </a>
        </div>
        <div class="p-menuitem-content" *ngIf="displayApiDocsLink">
          <a pRipple class="flex align-items-center p-menuitem-link" href="{{apiDocsLink}}">
            <span class="pi pi-code"></span>
            <span class="ml-2">API docs</span>
          </a>
        </div>
        <div class="p-menuitem-content" *ngIf="!isLoggedIn()">
          <a pRipple class="flex align-items-center p-menuitem-link"
             (click)="login()" style="cursor: pointer;" target="_blank">
            <span class="pi pi-sign-in"></span>
            <span class="ml-2">Login</span>
          </a>
        </div>
        <div class="p-menuitem-content" *ngIf="isLoggedIn()">
          <a pRipple class="flex align-items-center p-menuitem-link"
             (click)="profile()" style="cursor: pointer;" target="_blank">
            <span class="pi pi-user"></span>
            <span class="ml-2">{{displayUserInfo()}}</span>
          </a>
        </div>
        <div class="p-menuitem-content" *ngIf="isLoggedIn()">
          <a pRipple class="flex align-items-center p-menuitem-link"
             (click)="logout()" style="cursor: pointer;" target="_blank">
            <span class="pi pi-sign-out"></span>
            <span class="ml-2">Logout</span>
          </a>
        </div>
      </div>
    </ng-template>
  </p-menubar>

</header>

<div class="wipp-container">
  <router-outlet></router-outlet>
</div>

<footer class="layout-footer">
  <p><small>
    WIPP v{{version}} - <a href="https://www.nist.gov/disclaimer">Disclaimer</a>
    - Logo
          <span
            [ngbTooltip]="wippLogoCredits"
            triggers="click:blur"
            placement="auto"
            aria-hidden="true"><i class="far fa-question-circle"></i>
          </span>
  </small></p>
</footer>

<ng-template #wippLogoCredits>
  WIPP logo made with <a href="http://logomakr.com"
                         title="Logo Maker">Logo Maker</a> using Science graphic by
  <a href="http://www.flaticon.com/authors/freepik">Freepik</a> from
  <a href="http://www.flaticon.com/">Flaticon</a>, licensed under
  <a href="http://creativecommons.org/licenses/by/3.0/"
     title="Creative Commons BY 3.0">CC BY 3.0</a>.
</ng-template>

