<h1>Images Collections</h1>
<div class="card">
  <p-table #dt
    [value]="imagesCollections"
    [lazy]="true"
    (onLazyLoad)="loadData($event)"
    dataKey="id"
    [tableStyle]="{ 'min-width': '75rem' }"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [totalRecords]="resultsLength"
    selectionMode="single"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['name']"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <p-splitButton
          label="New"
          icon="pi pi-plus"
          [model]="newCollOptions" />
        <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search..." />
            </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name" />
        </th>
        <th pSortableColumn="creationDate">
          Creation date <p-sortIcon field="creationDate" />
        </th>
        <th pSortableColumn="locked">
          Locked <p-sortIcon field="locked" />
        </th>
        <th pSortableColumn="publiclyShared">
          Visibility <p-sortIcon field="publiclyShared" />
        </th>
        <th pSortableColumn="owner">
          Owner <p-sortIcon field="owner" />
        </th>
        <th pSortableColumn="numberOfImages">
          Number of images <p-sortIcon field="numberOfImages" />
        </th>
        <th pSortableColumn="imagesTotalSize">
          Images Total Size <p-sortIcon field="imagesTotalSize" />
        </th>
        <th>
          Status
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-coll>
      <tr routerLink="/images-collection/{{coll.id}}" class="p-selectable-row">
        <td>{{ coll.name }}</td>
        <td>{{ coll.creationDate | date }}</td>
        <td><i [class]="coll.locked ? 'pi pi-lock' : 'pi pi-lock-open'"></i></td>
        <td><i [class]="coll.publiclyShared ? 'pi pi-globe' : 'pi pi-user'"></i></td>
        <td>{{ coll.owner }}</td>
        <td>{{ coll.numberOfImages }}</td>
        <td>{{ coll.imagesTotalSize | bytes }}</td>
        <td><i [class]="getIconByImgCollStatus(coll)['piClass']"
               [style]="getIconByImgCollStatus(coll)['colorStyle']"></i></td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast position="top-center" [life]="5000"/>
