<h1 class="wipp-title">
  {{genericData.name}}
  <div style="display: inline-block;">
    <p-button icon="pi pi-download"
              (click)="openDownload(genericData._links.download.href)"
              pTooltip="Download as zip"
              tooltipPosition="left"
              [outlined]="true">
    </p-button>
    <p-button icon="pi pi-trash" *ngIf="canEdit() && !genericData.locked && !genericData.sourceJob" type="button"
              pTooltip="Delete collection"
              tooltipPosition="left"
              [outlined]="true"
              (click)="deleteCollection();">
    </p-button>
    <p-button icon="pi pi-lock-open" *ngIf="canEdit() && !genericData.locked && !genericData.sourceJob" type="button"
              pTooltip="Lock collection"
              tooltipPosition="left"
              [outlined]="true"
              (click)="lockCollection();">
    </p-button>
    <p-button icon="pi pi-lock" *ngIf="genericData.locked || genericData.sourceJob" type="button"
              pTooltip="Collection locked"
              tooltipPosition="left"
              [disabled]="true"
              [outlined]="true" >
    </p-button>
    <p-button icon="pi pi-globe" *ngIf="!genericData.publiclyShared && canEdit()" type="button"
              pTooltip="Make collection public"
              tooltipPosition="left"
              [outlined]="true"
              (click)="makeDataPublic();">
    </p-button>
  </div>
</h1>

<p-fieldset legend="Details" [toggleable]="true">
  <div class="grid nested-grid">
    <div class="col-12 md:col-6">
      <div class="grid">
        <div class="col-3 py-1 font-semibold">
          Name:
        </div>
        <div class="col-9 py-1">
          {{genericData.name}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Creation date:
        </div>
        <div class="col-9 py-1">
          {{genericData.creationDate | date}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Owner:
        </div>
        <div class="col-9 py-1">
          {{genericData.owner}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Source:
        </div>
        <div class="col-9 py-1">
          <a *ngIf="job; else not_applicable" (click)="displayJobModal(job.id)"
             class="wipp-link"
             pTooltip="Show Job"
             placement="left">
            {{job.name}}
          </a>
        </div>
        <div class="col-3 py-1 font-semibold">
          Visibility:
        </div>
        <div class="col-9 py-1">
          <div *ngIf="genericData.publiclyShared; else privateData">Public</div>
          <ng-template #privateData>Private</ng-template>
        </div>
        <div class="col-3 py-1 font-semibold">
          Type:
        </div>
        <div class="col-9 py-1">
          <div *ngIf="genericData.type; else not_applicable">{{genericData.type}}</div>
        </div>
        <div class="col-3 py-1 font-semibold">
          Description:
        </div>
        <div class="col-9 py-1">
          <div *ngIf="genericData.description; else not_applicable">{{genericData.description}}</div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="block p-1 flex justify-content-left" *ngIf="!(genericData.locked || genericData.sourceJob)">
        <button pButton icon="pi pi-file-plus"
                class="p-button p-button-secondary"
                label="Add files to collection"  #browseBtn>
        </button>
      </div>
    </div>
  </div>
</p-fieldset>

<div [hidden]="!hasFilesNotComplete(flowHolder.files)">
  <h2 class="top10">Transfers</h2>
  <div class="grid">
    <div class="col-3">
      Number of files: {{flowHolder.files.length}}
    </div>
  </div>
  <table class="p-datatable">
    <thead class="p-datatable-thead">
    <tr>
      <th>#</th>
      <th>File name</th>
      <th>Size</th>
      <th>Progress</th>
      <th>Error</th>
    </tr>
    </thead>
    <tbody class="p-datatable-tbody">
    <tr *ngFor="let file of flowHolder.files | slice:0:10; let index=index">
      <td class="vert-align">{{index + 1}}</td>
      <td class="vert-align">{{file.name}}</td>
      <td class="vert-align">{{file.size | bytes}}</td>
      <td *ngIf='!file.error'>
        <p-progressBar aria-label="Upload progress" showValue='false' [value]="file.progress()*100.0" />
      </td>
      <td>
        <span *ngIf='file.error'>{{file.errorMesage|| "Unknown upload error."}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<h2 style="margin-top: 2%">Generic Data files</h2>
<div class="card">
  <div class='flex flex-column md:flex-row md:justify-content-between py-2'>
    <div class='mb-4 md:mb-0 vertical-align-baseline'>
      Total size: {{genericData.genericFileTotalSize| bytes}}
    </div>
    <div class='mb-3 md:mb-0' style="position:relative">
    </div>
    <div class="mb-3 md:mb-0 vertical-align-middle">
    </div>
    <div class='mb-2 md:mb-0'>
      <p-button icon="pi pi-trash" *ngIf="canEdit() && !genericData.locked && !genericData.sourceJob"
                size="small"
                severity="danger"
                pTooltip="Delete all files"
                placement="left"
                (click)="deleteAllGenericFiles()">
      </p-button>
    </div>
  </div>
  <p-table [value]="genericFiles" [lazy]="true" *ngIf="genericData.id"
           (onLazyLoad)="getGenericFiles($event)"
           dataKey="id"
           [tableStyle]="{ 'min-width': '75rem' }"
           [paginator]="true"
           [rows]="10"
           [rowsPerPageOptions]="[10, 25, 50]"
           [totalRecords]="resultsLengthGenericFiles">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="fileName">
          Name <p-sortIcon field="name" />
        </th>
        <th pSortableColumn="fileSize">
          Size <p-sortIcon field="fileSize" />
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-genFile>
      <tr>
        <td>
          {{ genFile.fileName }}
          <span [hidden]="!genFile.importError"><br>{{genFile.importError}}</span>
        </td>
        <td>{{ genFile.fileSize | bytes }}</td>
        <td>
          <p-button icon="pi pi-trash" [outlined]="true" label="Delete" size="small"
                    class="flex-auto md:flex-initial white-space-nowrap"
                    severity="danger"
                    *ngIf="!genericData.locked  && !genericData.sourceJob && canEdit()"
                    (click)="deleteGenericFile(genFile);"/>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #not_applicable>N/A</ng-template>
