<h1 class="wipp-title">
  {{visualization.name}}
  <div style="display: inline-block;">
    <p-button icon="pi pi-globe" *ngIf="!visualization.publiclyShared && canEdit()" type="button"
              pTooltip="Make visualization public"
              tooltipPosition="left"
              [outlined]="true"
              (click)="makePublicVisualization();">
    </p-button>
    <!--TODO: add download link (metadata not handled in pyramid building yet) -->
    <!--<a [href]="visualization?._links?.download?.href"-->
    <!--ngbTooltip="Download as zip"-->
    <!--placement="left"-->
    <!--class="btn btn-light">-->
    <!--<span-->
    <!--aria-hidden="true"><i class="fa fa-download"></i></span>-->
    <!--</a>-->
  </div>
</h1>

<p-fieldset legend="Details" [toggleable]="true">
  <div class="grid nested-grid">
    <div class="col-12 md:col-6">
      <div class="grid">
        <div class="col-3 py-1 font-semibold">
          Name:
        </div>
        <div class="col-9 py-1">
          {{visualization.name}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Creation date:
        </div>
        <div class="col-9 py-1">
          {{visualization.creationDate | date}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Owner:
        </div>
        <div class="col-9 py-1">
          {{visualization.owner}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Visibility:
        </div>
        <div class="col-9 py-1">
          <div *ngIf="visualization.publiclyShared; else privateData">Public</div>
          <ng-template #privateData>Private</ng-template>
        </div>
      </div>
    </div>
  </div>
</p-fieldset>

<p-fieldset legend="Configuration" [toggleable]="true" [collapsed]="showSettings">
  <div class="p-datatable-gridlines p-datatable">
    <table class="p-datatable-table">
      <thead class="p-datatable-thead">
      <tr>
        <th>
          <button type="button" pButton icon="pi pi-info-circle"
                  pTooltip="Show help"
                  severity="plain"
                  outlined="true"
                  size="small"
                  (click)="showHelp()">
          </button>
        </th>
        <th class="vert-align">Layer group label</th>
        <th class="wip-icon-button-column text-center vert-align" *ngIf="canEdit()">
                    <span *ngIf="savedStatus === 'saved'"
                          aria-hidden="true"
                          ngbTooltip="Configuration saved on the server"
                          placement="left"><i class="fa fa-check-circle"></i></span>
          <span *ngIf="savedStatus === 'error'"
                aria-hidden="true"
                ngbTooltip="Error saving the configuration on the server"
                placement="left"><i class="fa fa-exclamation-circle"></i></span>
          <img *ngIf="savedStatus === 'saving'"
               src="assets/img/loading.svg" alt="Saving configuration"
               ngbTooltip="Saving configuration"
               placement="left" class="wip-icon">
        </th>
      </tr>
      </thead>
      <tbody class="p-datatable-tbody">
      <ng-container *ngFor="let layersGroup of layersGroups">
        <tr>
          <td class="vert-align">
            <button type="button" pButton [icon]="layersGroup.collapsed? 'pi pi-arrow-right' : 'pi pi-arrow-down'"
                    pTooltip="Show/hide group"
                    severity="plain"
                    outlined="true"
                    size="small"
                    (click)="layersGroup.collapsed = !layersGroup.collapsed">

            </button>
          </td>
          <td class="vert-align">{{layersGroup.label}}</td>
          <td class="vert-align" *ngIf="canEdit()">
            <button type="button" pButton icon="pi pi-trash"
                    pTooltip="Delete group"
                    severity="plain"
                    outlined="true"
                    size="small"
                    (click)="removeGroup(layersGroup)">
            </button>
          </td>
        </tr>
        <tr [hidden]="layersGroup.collapsed" [ngbCollapse]="layersGroup.collapsed">
          <td class="vert-align"></td>
          <td colspan="2" class="vert-align">
            <!-- Layer level -->
            <table class="table table-bordered table-condensed table-striped table-fixed-layout">
              <thead class="p-datatable-thead">
              <tr>
                <th class="table-column-40p vert-align">Layer label</th>
                <th class="table-column-40p vert-align">Images</th>
                <th class="table-column-40p vert-align">Display configuration</th>
                <!--TODO: add ppm info (metadata not handled in pyramid building yet) -->
                <!--<th class="vert-align">Pixels / meter</th>-->
                <th class="wip-icon-button-column vert-align" *ngIf="canEdit()"></th>
              </tr>
              </thead>
              <tbody class="p-datatable-tbody">
              <tr *ngFor="let layer of layersGroup.layers">
                <td class="vert-align">{{layer.label}}</td>
                <td class="vert-align">
                  <a routerLink="/images-collection/{{layer.pyramid?.id}}">
                    {{layer.pyramid?.name}}
                  </a><span *ngIf="layer.filenamePattern"> - {{layer.filenamePattern}}</span>
                </td>
                <td class="vert-align">{{layer.displayConfig | json}}</td>
                <!--TODO: add ppm info (metadata not handled in pyramid building yet) -->
                <!--<td class="vert-align">{{layer.ppm}}</td>-->
                <td class="vert-align" *ngIf="canEdit()">
                  <button type="button" pButton icon="pi pi-trash"
                          pTooltip="Delete layer"
                          severity="plain"
                          outlined="true"
                          size="small"
                          (click)="removeLayer(layersGroup, layer)">
                  </button>
                </td>
              </tr>
              <tr *ngIf="canEdit()">
                <td class="vert-align">
                  <input pInputText type="text"
                         [(ngModel)]="layersGroup.newLayer.label"
                         pTooltip="Enter new layer name"
                  >
                </td>
                <td class="vert-align">
                  <p-autoComplete class="w-6"
                    [(ngModel)]="layersGroup.newLayer.pyramid"
                    [suggestions]="imagesCollSuggestions"
                    (completeMethod)="search($event)"
                    (onSelect)="pyramidSelected(layersGroup)"
                    field="name"
                    placeholder="Start typing a collection name..."
                    required />
                  <input pInputText type="text" required class="w-6"
                         [(ngModel)]="layersGroup.newLayer.filenamePattern"
                         pTooltip="Filename pattern (e.g. image-{ttt}.ome.tif"
                         placeholder="Filename pattern (e.g. image-{ttt}.ome.tif"
                  >
                </td>
                <td class="vert-align" *ngIf="canEdit()">
                  <div class="filter-container">
                    <div style="position:relative">
                      <p-dropdown [options]="contrastOptions"  placeholder="Adjust Contrast" [(ngModel)]="layersGroup.newLayer.contrastField" ></p-dropdown>
                      <p-dropdown [options]="colorMapOptions"  placeholder="Colormap" [(ngModel)]="layersGroup.newLayer.colorMapField"></p-dropdown>
                      <p-dropdown [options]="invertOptions"  placeholder="Invert" [(ngModel)]="layersGroup.newLayer.invertField"></p-dropdown>
                    </div>
                  </div>
                </td>
                <!--TODO: add ppm info (metadata not handled in pyramid building yet) -->
                <!--<td class="vert-align">-->
                  <!--<input type="number" min="0" class="form-control"-->
                         <!--[(ngModel)]="layersGroup.newLayer.ppm">-->
                <!--</td>-->
                <td class="vert-align">
                  <button type="button" pButton icon="pi pi-plus"
                          pTooltip="Add layer"
                          severity="plain"
                          outlined="true"
                          size="small"
                          (click)="addLayer(layersGroup)"
                          [disabled]="!isNewLayerValid(layersGroup)">
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="canEdit()">
        <td class="vert-align"></td>
        <td class="vert-align">
          <input pInputText type="text" class="form-control"
                 pTooltip="Enter new group name"
                 [(ngModel)]="newGroup['label']">
        </td>
        <td class="vert-align">
          <button type="button" pButton icon="pi pi-plus"
                  pTooltip="Add group"
                  severity="plain"
                  outlined="true"
                  size="small"
                  (click)="addGroup()"
                  [disabled]="!isNewGroupValid()">
          </button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</p-fieldset>

<wippWdzt [manifest]="manifest"></wippWdzt>
