<form>
  <div class="flex flex-column gap-2">
    <label for="name" class="font-semibold w-6rem">Name</label>
    <input pInputText [(ngModel)]="stitchingVector.name" id="name" name="name" class="flex-auto" autocomplete="off" />
    <span class="p-text-secondary block mb-5">Enter the stitching vector name.</span>

    <label for="note" class="font-semibold w-6rem">Message</label>
    <input pInputText [(ngModel)]="stitchingVector.note" id="note" name="note" class="flex-auto" autocomplete="off" />
    <span class="p-text-secondary block mb-5">Enter the stitching vector message.</span>

    <label for="file" class="font-semibold">Stitching Vector File (5 MB max)</label>
    <input #file type="file" (change)="onFileSelected($event)" id="file" name="file" class="flex-auto"
           autocomplete="off" />
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" severity="secondary" (onClick)="cancel()" />
    <p-button label="Save" (onClick)="upload()" [disabled]="!stitchingVector.name || !stitchingVector.file" type="submit"/>
  </div>
</form>
<p-toast position="top-center"/>
