<form>
  <div class="flex flex-column gap-2">
    <label for="name" class="font-semibold w-6rem">Name</label>
    <input pInputText required id="name" name="name" placeholder="Enter the name of the model to import" />

    <label for="framework" class="font-semibold w-6rem">Framework</label>
    <p-dropdown optionLabel="framework" placeholder="Select a Framework" />

    <label for="model" class="font-semibold w-6rem">Model</label>
    <input type="file" name="model" class="flex-auto p-component" id="model" accept=".zip">

    <label for="visibility" class="font-semibold w-6rem">Visibility</label>
    <p-checkbox [binary]="true" inputId="binary" label="Check if you want to publicly shared" />
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" (onClick)="cancel()" severity="secondary" />
    <p-button label="Save" [disabled]="true" />
  </div>
</form>
<p-toast position="top-center" />