<h3 class="wipp-title">AI Model: {{aiModel.name}}</h3>

<div>

  <h4>Details</h4>
  <div class="row">
    <div class="col-md-9">
      <dl class="row">

        <dt class="col-md-4">Framework</dt>
        <dd class="col-md-8">{{aiModel.framework}}</dd>

        <dt class="col-md-4">Name</dt>
        <dd class="col-md-8">{{aiModel.name}}</dd>

        <dt class="col-md-4">Creation Date</dt>
        <dd class="col-md-8">{{aiModel.creationDate | date}}</dd>

        <dt class="col-md-4">Owner</dt>
        <dd class="col-md-8">{{aiModel.owner}}</dd>

        <dt class="col-md-4">Training job</dt>
        <dd class="col-md-8">
          <a *ngIf="job; else not_applicable" (click)="displayJobModal(job.id)" class="wipp-link" ngbTooltip="Show Job"
            placement="left">
            {{job.name}}
          </a>
        </dd>

        <dt class="col-md-4">Tensorboard Logs</dt>
        <dd class="col-md-8">
          <a *ngIf="tensorboardLogs; else not_applicable" href={{tensorboardLink}}
            target="_blank">{{tensorboardLogs.name}}
          </a>
        </dd>
        <ng-template #not_applicable>N/A</ng-template>

        <dt class="col-md-4">Visibility</dt>
        <dd class="col-md-8">
          <div *ngIf="aiModel.publiclyShared; else privateData">Public</div>
        </dd>
        <ng-template #privateData>Private</ng-template>
      </dl>
    </div>

    <div class="col-md-3 text-right">
      <button (click)="openDownload(aiModel._links.download.href)" ngbTooltip="Download as zip" placement="left"
        class="btn btn-light">
        <span aria-hidden="true"><i class="fa fa-download"></i></span>
      </button>
      <button *ngIf="!aiModel.publiclyShared && canEdit()" type="button" ngbTooltip="Make AI model public"
        placement="left" class="btn btn-light" (click)="makePublicaiModel();">
        <span class="fa fa-users" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <h4>Plots</h4>
  <div class="row">
    <div class="col-md-9">
      <dl class="row">

        <dt class="col-md-4">ID</dt>
        <dd class="col-md-8">{{tensorboardLogs.id}}</dd>

        <dt class="col-md-4">Owner</dt>
        <dd class="col-md-8">{{tensorboardLogs.owner}}</dd>

        <dt class="col-md-4">Name</dt>
        <dd class="col-md-8">{{tensorboardLogs.name}}</dd>

        <dt class="col-md-4">Date</dt>
        <dd class="col-md-8">{{tensorboardLogs.creationDate}}</dd>

        <!--
        <dt class="col-md-4">Source Job</dt>
        <dd class="col-md-8">{{tensorboardLogs.sourceJob}}</dd>
        -->
      </dl>
    </div>
  </div>

  <h4>Model Card</h4>
  <div class="row">
    <div class="col-md-9">
      <dl class="row">

        <dt class="col-md-4">ID</dt>
        <dd class="col-md-8">{{modelCard.id}}</dd>

        <dt class="col-md-4">AiModel ID</dt>
        <dd class="col-md-8">{{modelCard.aiModelId}}</dd>

        <dt class="col-md-4">Name</dt>
        <dd class="col-md-8">{{modelCard.name}}</dd>

        <dt class="col-md-4">Author</dt>
        <dd class="col-md-8">
          <input type="text" value="{{ modelCard.author ? modelCard.author : 'null' }}"
            (change)="updateModelCard($event.target.value, 'author')">
        </dd>

        <dt class="col-md-4">Version</dt>
        <dd class="col-md-8">{{modelCard.version}}</dd>

        <dt class="col-md-4">Framework</dt>
        <dd class="col-md-8">{{modelCard.framework}}</dd>

        <!--<p>Type: {{}}</p>-->

        <dt class="col-md-4">Date</dt>
        <dd class="col-md-8">{{modelCard.date}}</dd>

        <dt class="col-md-4">Description</dt>
        <dd class="col-md-8">{{modelCard.description}}</dd>

        <!--<p>Documentation: {{}}</p>-->

        <dt class="col-md-4">License</dt>
        <select class="col-md-8" (change)="updateModelCard($event.target.value, 'license')">
          <option id="Unlicense" value="Unlicense">Unlicense</option>
          <option id="Apache-2.0" value="Apache-2.0">Apache-2.0</option>
          <option id="GPL" value="GPL">GPL</option>
          <option id="MPL-2.0" value="MPL-2.0">MPL-2.0</option>
          <option id="BSD-3-Clause" value="BSD-3-Clause">BSD-3-Clause</option>
        </select>

        <dt class="col-md-4">Contact</dt>
        <dd class="col-md-8">
          <input type="text" value="{{ modelCard.contact ? modelCard.contact : 'null' }}"
            (change)="updateModelCard($event.target.value, 'contact')">
        </dd>

        <dt class="col-md-4">Citation</dt>
        <dd class="col-md-8">
          <input type="text" value="{{ modelCard.citation ? modelCard.citation : 'null' }}"
            (change)="updateModelCard($event.target.value, 'citation')">
        </dd>

        <dt class="col-md-4">Inputs</dt>
        <dd class="col-md-8">[TO_DEFINE]</dd>

        <dt class="col-md-4">Outputs</dt>
        <dd class="col-md-8">[TO_DEFINE]</dd>

        <!--<p>TrainingData: {{}}</p>-->
      </dl>
    </div>

    <div class="col-md-3 text-right">
      <select name="frameworks" id="frameworks">
        <option *ngFor="let framework of aiFramework" value="{{framework}}">{{ framework }}</option>
      </select>

      <button type="button" title="Display Model Card for a specific platform" class="btn btn-light"
        (click)="previewModelCard(modelCard.id, showModelcardModal)">
        <i class="fa fa-eye"></i>
      </button>

      <button type="button" title="Download Model Card" class="btn btn-light" (click)="exportModelCard(modelCard.id)">
        <i class="fa fa-download"></i>
      </button>

    </div>
  </div>

</div>

<ng-template #showModelcardModal let-c="close" let-d="dismiss" class="">
  <div class="modal-header">
    <h4 class="modal-title">Modal Card</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <pre>{{ modalContent }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" ngbAutofocus (click)="d()">
      Close
    </button>
  </div>
</ng-template>