<h1 class="wipp-title">
  AI Model: {{aiModel.name}}
  <div style="float: right;">
    <p-button icon="pi pi-download"
              (click)="openDownload(aiModel._links.download.href)"
              pTooltip="Download as zip"
              tooltipPosition="left"
              [outlined]="true">
    </p-button>
    <p-button icon="pi pi-globe" *ngIf="!aiModel.publiclyShared && canEdit()" type="button"
              pTooltip="Make collection public"
              tooltipPosition="left"
              [outlined]="true"
              (click)="makePublicAiModel();">
    </p-button>
  </div>
</h1>

<p-fieldset legend="AI Model Details" [toggleable]="true">
  <div class="grid nested-grid">
    <div class="col-12 md:col-6">
      <div class="grid">
        <div class="col-3 py-1 font-semibold">
          Name:
        </div>
        <div class="col-9 py-1">
          {{aiModel.name}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Framework:
        </div>
        <div class="col-9 py-1">
          {{aiModel.framework}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Creation date:
        </div>
        <div class="col-9 py-1">
          {{aiModel.creationDate | date}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Owner:
        </div>
        <div class="col-9 py-1">
          {{aiModel.owner}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Source:
        </div>
        <div class="col-9 py-1">
          <a *ngIf="job; else not_applicable" (click)="displayJobModal(job.id)"
             class="wipp-link"
             pTooltip="Show Job"
             placement="left">
            {{job.name}}
          </a>
        </div>
        <div class="col-3 py-1 font-semibold">
          Tensorboard Logs:
        </div>
        <div class="col-9 py-1">
          <a *ngIf="tensorboardLogs; else not_applicable"
             href={{tensorboardLink}}
             target="_blank">{{tensorboardLogs.name}}
          </a>
        </div>
        <div class="col-3 py-1 font-semibold">
          Visibility:
        </div>
        <div class="col-9 py-1">
          <div *ngIf="aiModel.publiclyShared; else privateData">Public</div>
          <ng-template #privateData>Private</ng-template>
        </div>
      </div>
    </div>
  </div>
</p-fieldset>

<ng-template #not_applicable>N/A</ng-template>

<!-- AI MODEL CARD addings below -->

<p-fieldset legend="Tensorboard Logs Charts" [toggleable]="true" [collapsed]="true">
  <div class="grid nested-grid" *ngIf="!tensorboardPlotable">
    <div class="col-12 md:col-6">
      <p>This AI model did not produce a tensorboard.</p>
      <p>There are therefore no tensorboard results to display.</p>
      <p>If you wish to obtain tensorboard results, please modify the plugin manifest used and restart your training.
      </p>
    </div>
  </div>

  <div class="grid nested-grid" *ngIf="tensorboardPlotable">
    <div class="col-12 md:col-6">
      <p>This AI model did produce a tensorboard.</p>
      <div class="grid">
        <div class="col-3 py-1 font-semibold">
          Name:
        </div>
        <div class="col-9 py-1">
          <a *ngIf="tensorboardLogs; else not_applicable" href={{tensorboardLink}}
            target="_blank">{{tensorboardLogs.name}}
          </a>
        </div>
        <div class="col-3 py-1 font-semibold">
          Owner:
        </div>
        <div class="col-9 py-1">
          {{tensorboardLogs.owner}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Date:
        </div>
        <div class="col-9 py-1">
          {{tensorboardLogs.creationDate}}
        </div>

        <div class="col-3 py-1 font-semibold">Accuracy chart:</div>
        <p-chart class="col-9 py-1" type="line" [data]="chartdata_accu"></p-chart>

        <div class="col-3 py-1 font-semibold">Loss chart:</div>  
        <p-chart class="col-9 py-1" type="line" [data]="chartdata_loss"></p-chart>
      </div>
    </div>
  </div>
</p-fieldset>

<p-fieldset legend="AI Model Card" [toggleable]="true">
  <div style="float: right;">
    <!--
    TODO: p-dropdown
    -->
    <select name="frameworks" id="frameworks">
      <option *ngFor="let framework of aiFramework" value="{{framework}}">{{ framework }}</option>
    </select>
    <p-button icon="pi pi-eye"
              (click)="displayAiModelCardModal(aiModelCard.id);"
              pTooltip="Display AI Model Card for a specific platform"
              tooltipPosition="left"
              [outlined]="true">
    </p-button>
    <p-button icon="pi pi-download"
              (click)="exportAiModelCard(aiModelCard.id);"
              pTooltip="Download AI Model Card"
              tooltipPosition="left"
              [outlined]="true">
    </p-button>
  </div>
  <div class="grid nested-grid">
    <div class="col-12 md:col-6">
      <div class="grid">
        <div class="col-3 py-1 font-semibold">Version:</div>
        <div class="col-9 py-1">{{aiModelCard.version}}</div>

        <div class="col-3 py-1 font-semibold">Name:</div>
        <div class="col-9 py-1">{{aiModelCard.name}}</div>

        <div class="col-3 py-1 font-semibold">Date:</div>
        <div class="col-9 py-1">{{aiModelCard.date}}</div>

        <div class="col-3 py-1 font-semibold">Framework:</div>
        <div class="col-9 py-1">{{aiModelCard.framework || "N/A"}}</div>

        <div class="col-3 py-1 font-semibold">Training Data:</div>
        <div class="col-9 py-1" style="color: red;">wip new frontend</div>
        <!--
        <dt class="col-md-4">Training Data</dt>
        <dd class="col-md-8 pb-4" >
          <details>
            <summary>Details</summary>
            <div *ngFor="let item of aiModelCard.trainingData | keyvalue"> {{item.key}} -> {{item.value}}</div>
          </details>
        </dd>
        -->

        <div class="col-3 py-1 font-semibold">Author:</div>
        <div class="col-9 py-1">{{aiModelCard.author || "null"}}</div>

        <div class="col-3 py-1 font-semibold">Description:</div>
        <div class="col-9 py-1">{{aiModelCard.description}}</div>

        <div class="col-3 py-1 font-semibold">Citation:</div>
        <div class="col-9 py-1" style="color: red;">wip new frontend</div>
        <!--
        <dt class="col-md-4">Citation</dt>
        <dd class="col-md-8">
          <input type="text"
            value="{{ aiModelCard.citation ? aiModelCard.citation : 'null' }}"
            (change)="updateAiModelCard($event.target.value, 'citation')"
          >
        </dd>
        -->

        <div class="col-3 py-1 font-semibold">Operation Type:</div>
        <div class="col-9 py-1">{{aiModelCard.operationType || "N/A"}}</div>

        <div class="col-3 py-1 font-semibold">Architecture:</div>
        <div class="col-9 py-1">{{aiModelCard.architecture || "N/A"}}</div>

        <div class="col-3 py-1 font-semibold" *ngIf="tensorboardPlotable">Training:</div>
        <div class="col-9 py-1" *ngIf="tensorboardPlotable">
          <details>
            <summary>Details</summary>
            Compute in {{ aiModelCard.training["time"] }} seconds with {{ aiModelCard.training["epochs"] }} epochs <br>
            Achieves maxAccuracy of {{ aiModelCard.training["maxAccuracy"] }} and minLoss of {{ aiModelCard.training["minLoss"] }}
          </details>
        </div>

        <div class="col-3 py-1 font-semibold" *ngIf="tensorboardPlotable">Testing:</div>
        <div class="col-9 py-1" *ngIf="tensorboardPlotable">
          <details>
            <summary>Details</summary>
            Compute in {{ aiModelCard.testing["time"] }} seconds with {{ aiModelCard.testing["epochs"] }} epochs <br>
            Achieves maxAccuracy of {{ aiModelCard.testing["maxAccuracy"] }} and minLoss of {{ aiModelCard.testing["minLoss"] }}
          </details>
        </div>

        <div class="col-3 py-1 font-semibold" *ngIf="tensorboardPlotable">License:</div>
        <select class="col-md-2" (change)="updateAiModelCard($event.target.value, 'license')">
          <option id="Unlicense" value="Unlicense">Unlicense</option>
          <option id="Apache-2.0" value="Apache-2.0">Apache-2.0</option>
          <option id="GPL" value="GPL">GPL</option>
          <option id="MPL-2.0" value="MPL-2.0">MPL-2.0</option>
          <option id="BSD-3-Clause" value="BSD-3-Clause">BSD-3-Clause</option>
        </select>

      </div>
    </div>
  </div>
</p-fieldset>
